.container {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
}

.page {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 40px 200px auto 40px;
  grid-template-rows: 40px auto 40px;
  width: 21cm;
  height: 29.7cm;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.page h3 {
  font-family: HK ro -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.leftSide {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rightSide {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 40px;
}

.rightSide dd {
  margin-inline-start: 0;
}

.header {
  position: absolute;
  left: 0;
  top: 80px;
  transform: rotate(-90deg);
  transform-origin: right right;
  text-align: right;
}

.dd h3 {
  font-size: 12px;
}

.dd h3 span {
  font-weight: lighter;
  color: gray;
  float: right;
}

.header h1 {
  font-size: 32px;
  color: white;
}

.header h2 {
  color: #aaaaaa;
  font-weight: lighter;
}

.contact {
  color: white;
}

.aboutMe {
  font-size: 14px;
  line-height: 16px;
}
